[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
plone.testing = 7.0.1
collective.recipe.vscode = >=0.1.6

# Added by buildout at 2021-06-01 16:17:35.957630
createcoverage = 1.5

# Added by buildout at 2021-06-01 16:48:35.485504

# Required by:
# plonetheme.eeq==1.0a1
collective.themefragments = 2.12

# Required by:
# plonetheme.eeq==1.0a1
plone.app.themingplugins = 1.1
