/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS.............You're reading it!
 * ACTIONS..............Styles for call to action features
 * ANNOUNCEMENTS........Styles for announcements
 * BREADCRUMBS..........Styles for the breadcrumb trail
 * COLORS...............Background colors
 * CONTENT..............Styles for content related things
 * GRID_VIEW............Styles for the grid view/tile
 * EVENT................Styles for the event content
 * FEATURE_ITEM.........Styles for the feature item box
 * FOLDER_SUMMARY.......Styles for the Folder Summary view
 * FOOTER...............Styles specific to the footer
 * HEADER...............Styles specific to the top level header above nav
 * HEADINGS.............Styles for headings
 * HERO.................Styles for the hero images
 * LAYOUT...............Styles for the overall layout
 * LEAVES...............Styles for the top navigation "leaves"
 * LINKS................Styles for accessible links
 * LISTS................Styles related to lists
 * MOSAIC...............Styles specific to the Mosaic layouts
 * NAVIGATION...........Styles specific to the top level navigation
 * PORTLETS.............Styles for the various portlets
 * RELATED_ITEMS........Styles for related items/content
 * SEARCH_RESULTS.......Styles for the search results page
 * TINYMCE..............Styles related to the TinyMCE editor
 */

/* Responsive breakpoint statements
@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
*/




/*------------------------------------*\
    $ACTIONS
\*------------------------------------*/

.action-item-title {
  font-size: 1.5rem;
}

/*
.actions-list {
  list-style: none;
  margin: 0;
}

.actions-list li {
  margin-bottom: 1rem;
}
.actions-list li img {
  display: inline-block;
  margin-right: 0.2rem;
  width: 50px;
}
.actions-list li div {
  display: inline-block;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .actions-list {
    display: flex;
    flex-wrap: wrap;
  }

  .actions-list li {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  .actions-list li img {
    width: 130px;
  }
  .actions-list li div {
    display: block;
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .actions-list li img {
    width: 180px;
  }
}
*/




/*------------------------------------*\
    $ANNOUNCEMENTS
\*------------------------------------*/

.announcements span.oi {
  font-size: 3rem;
  margin: 0.5rem 1.5rem 1rem 0;
}

.announcements .alert-danger h4 > a {
  /*** TODO: test for contrast */
  color: #c12434;
}
.announcements .alert-danger h4 > a:hover {
  /*** TODO: test for contrast */
  color: #932430;
}




/*------------------------------------*\
    $BREADCRUMBS
\*------------------------------------*/

.breadcrumb {
  background-color: transparent;
}




/*------------------------------------*\
    $COLORS
\*------------------------------------*/

.bg-header {
  background-color: #001e44 !important;
  /*background-color: #343a40 !important;*/
}

.bg-globalnav {
  background-color: #1e407c !important;
}

.bg-footer {
  background-color: #343a40 !important;
  /*background-color: #001e44 !important;*/
}

.discreet {
  color: #555555;
}

a {
  color: #0056B3;
}




/*------------------------------------*\
    $CONTENT
\*------------------------------------*/

.documentDescription {
  margin-bottom: 1.5em;
  font-size: 1.3rem;
}




/*------------------------------------*\
    $GRID_VIEW
\*------------------------------------*/

.grid-item .grid-image {
  min-height: 128px;
}




/*------------------------------------*\
    $EVENT
\*------------------------------------*/

body.portaltype-event {
  #event-row-above-body {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0px;
    width: 100%;

    li {
      font-weight: bold;
      display: block;

      i {
        color: #1e3c7c;
      }
    }
  }

  .event-image-column {
    overflow: hidden;
  }

  .leadImage {
    display: none;
  }

  .eventFooter {
    padding: 1em;
    background-color: #e5eaf0;
    width: 100%;
    margin-top: 1em;

    i {
      color: #1e3c7c;
      margin-right: 0.5em;
    }
  }

  .newsImageContainer {
    float: left;

    img {
      width: 100%;
      height: auto;
      max-width: 250px;
    }
  }

  .newsImageContainer figcaption {
    display: block;
  }

  .container {
      width: 100%;
  }
}




/*------------------------------------*\
    $FEATURE_ITEM
\*------------------------------------*/

/*
.feature-item {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.feature-item > .feature-container {
  background: inherit;
  background-attachment: fixed;
  left: 0;
  padding: 20px 30px;
  position: absolute;
  width: 100%;
}
.feature-item > .feature-container.bottom {
  bottom: 0;
}
.feature-item > .feature-container.top {
  top: 0;
}

.feature-item > .feature-container:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #000;
  background-attachment: fixed;
  opacity: 70%;
  -webkit-filter: blur(8px);
  filter: blur(8px);
  z-index: 10;
}

.feature-item > .bottom.feature-container:before {
  top: 5px;
  height: 150%;
}
.feature-item > .top.feature-container:before {
  top: -5px;
  height: 110%;
}

.feature-item > .feature-container > .feature-content {
  margin: 0;
  color: white;
  position: relative;
  z-index: 20;
}

.feature-item > .feature-container > .feature-content a {
  color: white;
}
*/



/*------------------------------------*\
    $FOLDER_SUMMARY
\*------------------------------------*/

/** Folder Summary view **/

.template-summary_view .tileHeadline {
  font-size: 1.5rem;
}

.template-summary_view .tileBody {
  margin-left: 0.5rem;
}


/** Folder Summary w/ Images view **/

.card-summary-with-images {
  border: 0;
  margin: 1rem;

  .content {
    padding-top: 1rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p, p:hover {
    text-decoration: none;
    color: #231e20;
  }

  .card-date {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .lead-image {
    padding-left: 0 !important;
  }
}

.card-summary-with-images.card-border {
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 0.25rem 0.75rem rgba(102, 102, 102, 0.25);
}

a.summary-with-images-link, a.summary-with-images-link:hover {
  text-decoration: none;
}

a.summary-with-images-link:hover h3 {
  text-decoration: underline;
}


/** All Content view **/

.template-full_view .headline {
  font-size: 2rem;
  margin-top: 2.5rem;
}
.template-full_view .headline:first {
  margin-top: 0;
}

.template-full_view div.description {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.template-full_view .subcontent-container {
  margin-top: 0.5rem;
}

.template-full_view .subcontent-container > div {
  height: 0;
}

.template-full_view .subcontent-container .tileItem {
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

.template-full_view .subcontent-container .tileItem .tileHeadline {
  font-size: 1.5rem;
}

.template-full_view .subcontent-container .tileItem .tileBody {
  margin-left: 0.5rem;
}




/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

footer {
  font-size: 0.9rem;
}

#footer-portlet-row a {
  color: white;
}

footer h3 {
  font-size: 1.25rem;
}

footer .logo-wrapper {
  margin-top: 2rem;
  text-align: center;
}
footer .contact-wrapper {
  margin: 1rem 0;
  text-align: center;
}
footer .login-wrapper {
  margin-top: 1rem;
  text-align: center;
}

@media (min-width: 992px) {
  footer .logo-wrapper {
    margin-right: 1rem;
    margin-top: 1rem;
    text-align: left;
  }
  footer .contact-wrapper {
    margin-bottom: 0;
    text-align: left;
  }
  footer .login-wrapper {
    float: right;
    margin-top: -1rem;
  }
}




/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.LSBox .input-group {
    display: flex;
}

nav.navbar-header {
  padding: 0px;
}

.navbar-brand img{
  margin: 8px;
}

.top-search-button .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  height: calc(1.5em + .5rem + 2px);
}

#searchGadget {
  width: auto;
  height: calc(1.5em + .5rem + 2px);
}

.top-search-button .searchButton {
  padding-left: 8px;
  padding-right: 8px;
}




/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

h1.documentFirstHeading {
  font-size: 2.8em;
  margin: .5em 0;
}

h2 { font-size: 2.25rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.1rem; font-weight: bold; }


/** create breathing space before subsequent headings **/

div + h2:first-of-type,
p + h2:first-of-type,
ul + h2:first-of-type,
ol + h2:first-of-type,
h2 { margin-top: 1em; }

h2:first-of-type { margin-top: 0 }


div + h3:first-of-type,
p + h3:first-of-type,
ul + h3:first-of-type,
ol + h3:first-of-type,
h3 { margin-top: 1em; }

h2 + h3,
h3:first-of-type { margin-top: 0.5em; }


h4 { margin-top: 1em; }

h3 + h4,
h4:first-of-type { margin-top: 0 }




/*------------------------------------*\
    $HERO
\*------------------------------------*/

.hero .office-name-wrapper {
  background-color: white;
  color: #222;
  font-size: 1.2rem;
  width: 100%;

  .office-name {
    padding: 0.3rem 2rem;

    #office-title, a {
      display: inline;
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
      color: #222;
      font-weight: normal;
    }

    a:hover {
      color: #000;
    }
  }
}

@media (min-width: 768px) {
  .hero.collapsed .office-name-wrapper {
    bottom: 0;
    font-size: 2.5rem;
    left: 0;
    background-color: rgba(255, 255, 255, .7);
    position: absolute;

    #office-title, a {
      font-size: 2.5rem;
    }
  }

  .hero .office-name-wrapper {
    font-size: 1.5rem;
    opacity: 100%;
    position: relative;

    #office-title, a {
      font-size: 1.5rem;
    }
  }
}




/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

.constrain-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}




/*------------------------------------*\
    $LEAVES
\*------------------------------------*/

@media (min-width: 992px) {
  .leaf {
    background-color: #001e44;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    margin-right: 5px;
    padding: 6px 8px;
  }

  .leaf-lg-gold {
    background-color: #efc900 !important;
    color: #000 !important;
  }
  a.leaf-lg-gold:hover,
  a.leaf-lg-gold:focus {
    background-color: #fae24c !important;
  }

  .leaf-lg-primary {
    /*** TODO: test for contrast */
    background-color: #007bff !important;
    color: #fff !important;
  }
  a.leaf-lg-primary:hover,
  a.leaf-lg-primary:focus {
    background-color: #0062cc !important;
  }

  .leaf-external > span {
    font-color: #333;
  }
}




/*------------------------------------*\
    $LINKS
\*------------------------------------*/

.nav-link:focus, .nav-link:hover {
  text-decoration: underline;
}




/*------------------------------------*\
    $LISTS
\*------------------------------------*/

/** Inline list of links separated by a pipe **/
.list-inline-links .list-inline-item:after {
  content: "|";
}
.list-inline-links .list-inline-item:last-child:after {
  content: "";
}
.list-inline-links .list-inline-item a {
  margin-right: 0.5rem;
}




/*------------------------------------*\
    $MOSAIC
\*------------------------------------*/

/** General fixes/tweaks **/

/* The boostrap 4 transition CSS is hiding mosaic modals that
   should have faded in */
.mosaic-modal {
  &.fade {
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;

    &.in {
      opacity: 1;
      -webkit-transition: opacity .25s ease;
      transition: opacity .25s ease;
    }
  }
}

.mosaic-toolbar .mosaic-menu {
  padding: 3px 12px;
  box-sizing: border-box;
  height: auto;
}


/** Background Image tiles **/

.background-image-tile .colored-background {
  padding:  45px 5px;
}


/** Collection Chronology tile **/

.mosaic-plonetheme\.eeq\.collectionchronology-tile {
  margin-top: 1em;

  .cardsDescription {
    margin-bottom: 0.5em;
    margin-top: -0.5em;
    padding-left: 0.3em;
  }
}

.mosaic-plonetheme\.eeq\.collectionchronology-tile .cardsTop .viewAll {
  display: none;
}

.mosaic-plonetheme\.eeq\.collectionchronology-tile .cardContainer .col {
  padding-left: 10px;
  padding-right: 10px;
}

.mosaic-plonetheme\.eeq\.collectionchronology-tile .card-event {
  background-color: #E5E4E2;
  border: 1px solid #D6D5D4;
  margin-bottom: 1em;
}

.mosaic-plonetheme\.eeq\.collectionchronology-tile .eventTop {
  border-bottom: 1px solid #D6D5D4;
  padding-top: 3em;

  .date-block {
    display: inline-block;
    margin-bottom: -1px;
    padding: 5px;
  }
  &.bgimage .date-block {
    background: white;
    opacity: 0.8;
  }

  .month {
    line-height: 1em;
    text-transform: uppercase;
  }

  .day {
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
  }
}

.mosaic-plonetheme\.eeq\.collectionchronology-tile .eventContent {
  padding: 5px;

  .title {
    margin-bottom: 0.7em;
  }
}

.mosaic-plonetheme\.eeq\.collectionchronology-tile .eventBottom {
  border-top: 1px solid #D6D5D4;
  padding: 5px;

  a {
    display: inline-block;
    margin-right: 0.3em;
  }
}


/** Content Listing - Listing **/

.mosaic-plone\.app\.standardtiles\.contentlisting-tile {
  dl dt {
    .summary img,
    .summary a:before {
      display: none;
    }

    .documentByLine {
      display: none;
    }
  }

  dd {
    display: none;
  }
}


/** Content Listing - Summary **/

.mosaic-plone\.app\.standardtiles\.contentlisting-tile {
  .documentDescription {
    font-size: 1.1rem;
    margin-bottom: 0.5em;
    margin-top: -0.3em;
  }

  .summary-image {
    display: none;
  }

  .tileHeadline {
    font-size: 1.5rem;
  }

  .tileBody {
    margin-left: 0.5rem;
    margin-top: -0.4em;
  }

  .tileFooter {
    display: none;
  }
}



/** Summary Tiles **/

.card.card-blank {
  border: 0;
}

/** Summary Tiles - home page **/

.section-home .mosaic-tile.mosaic-jazkarta\.tesserae\.content_summary-tile .cardBottom {
  background-color: #E5E4E2;
}




/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.navbar.navbar-header .constrain-width {
  align-items: flex-start;
}

.navbar.navbar-header .navbar-nav {
  font-size: 100%;
}

@media (min-width: 992px) {
  .navbar.navbar-header .navbar-nav {
    font-size: 80%;
  }

  .navbar.navbar-header .navbar-collapse form input {
    border: 0;
    border-radius: 0;
  }
}

.navbar-brand img { width: 200px; }

@media (min-width: 576px) {
  .navbar-brand img { width: 270px; }
}


.navbar.navbar-global {
  padding: .1rem 1rem;
}

.navbar-office .navbar-nav .nav-link {
  color: #ddd;
}
.navbar-office .navbar-nav .nav-link:hover {
  color: #fff;
}




/*------------------------------------*\
    $PORTLETS
\*------------------------------------*/

/** Secondary Nav collection portlets **/

.portlet.portlet-collection-information,
.portlet.portlet-collection-secondary-navigation {

  ul.portletContent {
    list-style-type: none;
    padding: 5px 15px 15px 15px;

    li {
      border-bottom: 1px solid #ddd;
      margin-left: 0;
      padding: 0;

      a {
        border-left: 4px solid transparent;
        display: block;
        padding: 10px 15px;
      }

      a:hover {
        background-color: #eee;
      }
    }

    li:first-of-type {
      border-top: 1px solid #ddd;
    }
  }
}


/** Social Media links portlet **/

#social-links-portlet {
  font-size: 1.75rem;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: -2.5rem;
  padding: 0 15px 1rem 15px;
  text-align: center;

  li {
    display: inline-block;
    padding: 0 0.25rem;
  }
}




/*------------------------------------*\
    $RELATED_ITEMS
\*------------------------------------*/

.relatedItems {
  background-color: #E5E4E2;
  border: 5px solid #E5E4E2;
  border-radius: 5px;
  margin-top: 4em;
  padding: 5px;
}

.relatedItems header {
  font-size: 1.75em;
}

.relatedItems ul li a {
  font-size: 1.25em;
}


/* Related items font size tweaks - editing */

.pattern-relateditems-result {
  .pattern-relateditems-result-browse-wrapper {
    .pattern-relateditems-result-browse {
      font-size: 1em;
      line-height: 2em;
    }
  }

  .pattern-relateditems-item-title, .pattern-relateditems-result-title {
    font-size: 1em;
    &[class*="contenttype-"]::before {
      font-size: 1em;
    }
  }
}




/*------------------------------------*\
    $SEARCH_RESULTS
\*------------------------------------*/

#searchform {
  cite {
    display: block;
    margin-top: .4rem;
  }

  .documentAuthor,
  .documentPublished,
  .documentModified {
    display: none;
  }

  ol.searchResults {
    padding-inline-start: 0px;

    li {
      display: block;
    }
  }

  div#search-results {
    padding-top: 1em;
  }

  #searchResultsSort {
    display: none;
  }

  .actionMenu {
    display: none;
  }

  .result-title {
    font-size: 1.75rem;
    display: block;
    margin-bottom: .3rem;
    margin-top: 1.5rem;
    font-weight: 440;
    line-height: 1.2;
  }
}

body.userrole-manager #searchform .actionMenu {
  display: block;
}




/*------------------------------------*\
    $TINY_MCE
\*------------------------------------*/

/** icons for the format dropdown menu */

.mce-ico.mce-i-actionitem,
.mce-ico.mce-i-button-lg,
.mce-ico.mce-i-button-sm {
  font-family: 'Icons';
}
.mce-i-actionitem:before {
  content:'\e04d';
}
.mce-i-button-lg:before {
  content: '\e037';
}
.mce-i-button-sm:before {
  content: '\e034';
}

.mce-ico.mce-i-button {
  font-family: 'Font Awesome 5 Pro';
}
.mce-i-button:before {
  content: '\f1d8';
}

