.portlet {
  background-color: @portlet-background;
  padding-bottom: 1rem;

  .portletHeader {
    font-weight: @plone-font-weight-medium;
    font-size: 1.25rem;
    padding: 5px 15px 0 15px;
  }

  .portletFooter {
    font-size: @plone-font-size-small;
    font-weight: @plone-font-weight-regular;
  }

  .glyphicon {
    display: none;
  }


  &.portletNavigationTree {
    .portletContent {
      padding: 5px 15px 15px 15px;

      > ul {
        margin-bottom: 0;

        > li {
          border-bottom: 1px solid #ddd;

          a {
            border-left: 4px solid transparent;
		        padding: 10px 15px !important;
          }

          a:hover {
            background-color: #eee;
          }

          .navTreeCurrentNode {
            border-left: 4px solid #0056b3;
          }
        }

        li:hover {
          background-color: @portlet-background;
        }

        li:first-of-type {
          border-top: 1px solid #ddd;
        }
      }
    }


    /* fixes for site settings panel */
    &.portletSiteSetup {
      ul {
        background-color: transparent;
      }

      .portletContent {
        > ul {
          li {
            border-bottom: none;

            > ul li a:before {
              display: none;
            }
          }

          li:first-of-type {
            border-top: none;
          }
        }
      }
    }
  }


  &.portletCollection {

    .portletContent {

      > li {
        padding: 7px 0px 7px 0px;
        margin-left: 15px;
      }

      li:hover {
        background-color: @portlet-background;
      }
    }
  }
}


.portletContent {
  font-size: @plone-font-size-base;
  font-weight: @plone-font-weight-regular;
  margin-bottom: 0;
  padding: 15px 15px 15px 30px;

  > ul {
    padding: 0;
    list-style: none;
    position: relative;

    > li {
      a {
    		display: block;
    		padding: 10px 15px 26px 15px;
    		position: relative;
    		z-index: 1;
      }
    }

    li:hover {
      background: @plone-portlet-list-hover-bg;
    }

    ul {
      padding-left: 15px;
      list-style: none;
    }
  }
}
