.mosaic-jazkarta\.tesserae\.content_summary-tile {
    .mosaic-tile-content {
      .card {
        margin-bottom: 3rem !important;
        height: 100%!important;
        .cardTop {
          text-align: center;
          > a {
            z-index: 2;
            background-color: transparent;
          }
          @media (max-width: 576px) {
            display: none;
          }
        }
        .cardBottom {
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          min-height: 1px;
          padding: 1.25rem;
        }
      }
    }
}
