/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS.............You're reading it!
 * ANNOUNCEMENTS........Styles for home page announcements
 * COLORS...............Background colors
 * FOOTER...............Styles specific to the footer
 * LEAVES...............Styles for the top navigation "leaves"
 * LISTS................Styles related to lists
 * NAVIGATION...........Styles specific to the top level navigation
 */



/*------------------------------------*\
    $ANNOUNCEMENTS
\*------------------------------------*/

.announcements span.oi {
  font-size: 3rem;
  margin: 0.5rem 1.5rem 1rem 0;
}

.announcements .alert-danger h4 > a {
  /*** TODO: test for contrast */
  color: #c12434;
}
.announcements .alert-danger h4 > a:hover {
  /*** TODO: test for contrast */
  color: #932430;
}




/*------------------------------------*\
    $COLORS
\*------------------------------------*/

.bg-header {
  background-color: #001e44 !important;
  /*background-color: #343a40 !important;*/
}

.bg-globalnav {
  background-color: #1e407c !important;
}

.bg-footer {
  background-color: #343a40 !important;
  /*background-color: #001e44 !important;*/
}




/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

footer {
  font-size: 0.9rem;
}

footer h3 {
  font-size: 1.25rem;
}

footer .logo-wrapper {
  margin-top: 2rem;
  text-align: center;
}
footer .contact-wrapper {
  margin: 1rem 0;
  text-align: center;
}
footer .login-wrapper {
  margin-top: 1rem;
  text-align: center;
}

@media (min-width: 992px) {
  footer .logo-wrapper {
    margin-right: 1rem;
    margin-top: 1rem;
    text-align: left;
  }
  footer .contact-wrapper {
    margin-bottom: 0;
    text-align: left;
  }
  footer .login-wrapper {
    float: right;
    margin-top: -1rem;
  }
}




/*------------------------------------*\
    $LEAVES
\*------------------------------------*/

@media (min-width: 992px) {
  .leaf {
    background-color: #001e44;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    margin-right: 5px;
    padding: 6px 8px;
  }

  .leaf-lg-gold {
    background-color: #efc900 !important;
    color: #000 !important;
  }
  a.leaf-lg-gold:hover,
  a.leaf-lg-gold:focus {
    background-color: #fae24c !important;
  }

  .leaf-lg-primary {
    /*** TODO: test for contrast */
    background-color: #007bff !important;
    color: #fff !important;
  }
  a.leaf-lg-primary:hover,
  a.leaf-lg-primary:focus {
    background-color: #0062cc !important;
  }

  .leaf-external > span {
    font-color: #333;
  }
}



/*------------------------------------*\
    $LISTS
\*------------------------------------*/

/** Inline list of links separated by a pipe **/
.list-inline-links .list-inline-item:after {
  content: "|";
}
.list-inline-links .list-inline-item:last-child:after {
  content: "";
}
.list-inline-links .list-inline-item a {
  margin-right: 0.5rem;
}




/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.navbar.navbar-header .navbar-nav {
  font-size: 100%;
}
@media (min-width: 992px) {
  .navbar.navbar-header .navbar-collapse {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .navbar.navbar-header .navbar-nav {
    font-size: 80%;
  }

  .navbar.navbar-header .navbar-collapse form input {
    border: 0;
    border-radius: 0;
  }
}

.navbar.navbar-global {
  padding: .1rem 1rem;
}


/* Responsive breakpoint statements
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
*/
