/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS.............You're reading it!
 * COLORS...............Background colors
 * FOOTER...............Styles specific to the footer
 * LISTS................Styles related to lists
 */



/*------------------------------------*\
    $COLORS
\*------------------------------------*/

.bg-header {
  /*background-color: #001e44 !important;*/
  background-color: #343a40 !important;
}

.bg-globalnav {
  background-color: #1e407c !important;
}

.bg-footer {
  /*background-color: #343a40 !important;*/
  background-color: #001e44 !important;
}




/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

footer {
  font-size: 0.9rem;
}

footer h3 {
  font-size: 1.25rem;
}

footer .contact-wrapper {
  margin-bottom: 1rem;
  text-align: center;
}
footer .login-wrapper {
  text-align: center;
}

@media (min-width: 992px) {
  footer .contact-wrapper {
    margin-bottom: 0;
    text-align: left;
  }
  footer .login-wrapper {
    margin-top: 2.5em;
    text-align: right;
  }
}




/*------------------------------------*\
    $LISTS
\*------------------------------------*/

/** Inline list of links separated by a pipe **/
.list-inline-links .list-inline-item:after {
  content: "|";
}
.list-inline-links .list-inline-item:last-child:after {
  content: "";
}
.list-inline-links .list-inline-item a {
  margin-right: 0.5rem;
}



/* Responsive breakpoint statements
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
*/
